<!DOCTYPE html>
<html>
    <head>
        <title>Count Von Count</title>
    </head>
    <body>
        <form action='view_instances'>

            <label for='phrase'>Which word would you like to Count?</label>
            <input id='phrase' type='text' name='phrase'>
            <button type='submit'>Count em up!</button>

        </form>

    </body>
</html>
