<!DOCTYPE html>
    <head>
        <title>Count Von Counting</title>
    </head>
    <body>
        <h1>How many instances of the given word did we find?</h1>
        <h4>{{ result }}</h4>
    </body>
</html>
